<md-list>
    <md-subheader>
        {{TaskList.title}}
        <md-button ng-hide="TaskList.disableAdd()" class="md-icon-button md-primary" ng-click="TaskList.addTask()">
            <i class="fa fa-plus"></i>
            <md-tooltip>Add task</md-tooltip>
        </md-button>
        <ng-transclude></ng-transclude>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="TaskList.isExpanded = !TaskList.isExpanded">
            <i class="fa" ng-class="{'fa-chevron-up': TaskList.isExpanded, 'fa-chevron-down': !TaskList.isExpanded}"></i>
            <md-tooltip>
                {{TaskList.isExpanded ? 'Collapse' : 'Expand' }}
            </md-tooltip>
        </md-button>
    </md-subheader>
    <section ng-if="TaskList.isExpanded" dnd-list="TaskList.list" dnd-disable-if="TaskList.disableAdd()">
        <md-list-item ng-repeat="task in TaskList.list"
                      dnd-draggable="task"
                      dnd-disable-if="TaskList.disableAdd()"
                      dnd-moved="TaskList.list.splice($index, 1)">
            {{task.title}}
        </md-list-item>
        <md-list-item ng-if="!TaskList.list.length">
            No tasks.
        </md-list-item>
    </section>
</md-list>