<section layout="row">
    <md-list flex>
        <md-subheader>
            Sprints
            <md-button class="md-icon-button md-primary" ng-click="Plan.addSprint()">
                <i class="fa fa-plus"></i>
                <md-tooltip>Add sprint</md-tooltip>
            </md-button>
        </md-subheader>
        <md-list-item ng-repeat="sprint in Plan.plan._embedded.sprints">
            <task-list title="Sprint #{{sprint.nr}} {{sprint.isActive ? '(active)' : ''}}" list="sprint.tasks" disable-add="!sprint.isActive">
                <md-button class="md-icon-button md-warn" ng-if="sprint.isActive" ng-click="Plan.closeSprint(sprint)">
                    <i class="fa fa-stop"></i>
                    <md-tooltip>Close sprint</md-tooltip>
                </md-button>
                <md-button class="md-icon-button md-primary" ng-if="!sprint.isActive && !sprint.isClosed" ng-click="Plan.startSprint(sprint)">
                    <i class="fa fa-play"></i>
                    <md-tooltip>Start sprint</md-tooltip>
                </md-button>
            </task-list>
        </md-list-item>
    </md-list>
    <task-list title="Backlog" list="Plan.plan.backlog" flex></task-list>
</section>