<section layout="row">
    <md-list flex>
        <md-subheader>
            Sprints
            <md-button class="md-icon-button md-primary" ng-click="Plan.addSprint()">
                <i class="fa fa-plus"></i>
                <md-tooltip>Add sprint</md-tooltip>
            </md-button>
        </md-subheader>
        <md-list-item ng-repeat="sprint in Plan.plan._embedded.sprints">
            <task-list title="Sprint #{{sprint.nr}}" list="sprint.tasks"></task-list>
        </md-list-item>
    </md-list>
    <task-list list="Plan.plan.backlog" title="Backlog" flex></task-list>
</section>