<md-list>
    <md-subheader>{{Lane.title}}</md-subheader>
    <section dnd-list="Board.tasks" dnd-drop="Lane.moveTask(event, index, item)">
        <ticket ng-repeat="task in Board.tasks|filter:{status: Lane.status}"
                title="{{task.title}}"
                dnd-draggable="task"
                dnd-moved="Board.tasks.splice(Board.tasks.indexOf(task), 1)">

        </ticket>
        <md-list-item ng-if="!(Board.tasks|filter:{status: Lane.status}).length">
            No tasks.
        </md-list-item>
    </section>

</md-list>